body{
	overflow-y : auto;
	overflow-x : hidden;
	background-color: #F8F8D8;
}
select{
	height: 22px;
	font-size: 12px;
	font-family:'微软雅黑';
}
#container{
	height: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 97%;
	font-size: 12px;
	font-family:'微软雅黑';
}
#tab_idc_list{
	border: 1.5px inset #DEDEDE;
	margin-top: 10px;
}
#tab_idc_list tr{
	height: 25px;
}
#tab_idc_list th{
	border-left: 1px solid #DEDEDE;
	background-color: #4B8AA0;
	color: #FFFFFF;
}
#tab_idc_list td{
	border-left: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	text-align:center;
	word-break:break-all;
}
#tbody_idc_list tr{
	background-color: #FFFFFF;
}
#form_IDC{
	top:20%;
	left:35%;
}
#form_confirm{
	top:15%;
	left:35%;
	line-height: 23px;
}
#form_confirm button{
	border:2px outset;
	border-radius: 5px;
	margin-top: 15px;
	width: 60px;
	height: 25px;
}
#Crumbs{
	font-size: 12px;
	font-family:'微软雅黑';
	color:#868A8D;
	margin-top: 20px;
	margin-left: 20px;
}
#pages{
	text-align:right;
	font-family:'微软雅黑';
	font-size:12px;
	margin-top:10px;
	margin-right:10px;
}
#pages button{
	width: 55px;
	height:22px;
	border-radius: 5px;
	font-family:'微软雅黑';
	font-size:12px;
}