body{
	overflow-y : auto;
	overflow-x : hidden;
	background-color: #F8F8D8;
}
select{
	height: 22px;
	font-size: 12px;
	font-family:'微软雅黑';
}
.box_fold{
	width:18px;
	height:16px;
	margin-top: 2px;
	padding:0px;
	border:1px outset #A3A3A3;
	background-image:url(../img/min.png);
}
#server_body{
	height: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 97%;
	font-size: 12px;
	font-family:'微软雅黑';
}
#static_info{
	font-size: 12px;
	font-family:'微软雅黑';
	color: #A1A1A1;
}
#tab_server_list{
	border: 1.5px inset #DEDEDE;
	margin-top: 10px;
}
#tab_server_list tr{
	height: 25px;
}
#tab_server_list th{
	border-left: 1px solid #DEDEDE;
	background-color: #4B8AA0;
	color: #FFFFFF;
}
#tab_server_list td{
	border-left: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	text-align:center;
	word-break:break-all;
}
#tbody_server_list tr{
	background-color: #FFFFFF;
}
#Servinfo{
	top:10%;
	left:35%;
}
#form_confirm{
	top:15%;
	left:35%;
	line-height: 23px;
}
#form_confirm button{
	border:2px outset;
	border-radius: 5px;
	margin-top: 15px;
	width: 60px;
	height: 25px;
}
#Crumbs{
	font-size: 12px;
	font-family:'微软雅黑';
	color:#868A8D;
	margin-top: 20px;
	margin-left: 20px;
}
#pages{
	text-align:right;
	font-family:'微软雅黑';
	font-size:12px;
	margin-top:10px;
	margin-right:10px;
}
#pages button{
	width: 55px;
	height:22px;
	border-radius: 5px;
	font-family:'微软雅黑';
	font-size:12px;
}
#save_butt_serv{
	margin-right: 20px;
}
